.exp-container {
    padding: 60px 20px;
    background: #f5f7fa;
  }
  
  .exp-header {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .exp-header h2 {
    font-size: 2rem;
    color: black;
    font-weight: bolder;
  }
  
  .exp-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }

  
.vertica111111 {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px rgb(188, 188, 188) solid;
  height: 60px;
  width: 0px;
  border-radius: 100px;
  text-align: center;
}
  
  /* For bigger screens */
  @media screen and (min-width: 768px) {
    .exp-cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (min-width: 1024px) {
    .exp-cards {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  